.wp-block-quote {

    position: relative;
    font-family: Georgia, serif;
    line-height: 1.45;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    font-size: 18px;

	&::before {

        display: block;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: 5px;
        top: -25px;
        color: #7a7a7a;
        
	}

	cite {

        &:before {
            content: "\2014 \2009";
        }

		a {
			color: $grey-dark;
			font-weight: 700;
			text-transform: uppercase;
			font-style: normal;
		}
	}
}
