.btn-dark {
  background-color: black;
  color: white;
}
.btn-light {
  background-color: white;
  color: black;
}
.btn-outline-dark {
  border: 2px solid black;
}
.btn-outline-light {
  border: 2px solid white;
}