.wp-block-wp{
    
    &-wp-pre-header {
        span {
            &.text-uppercase {
                text-transform: uppercase;
            }
            &.text-lowercase {
                text-transform: lowercase;
            }
            &.text-capitalize {
                text-transform: capitalize;
            }

            &.fw-bold {
                font-weight: 700;
            }

            &.fw-normal {
                font-weight: 400;
            }
        }
    }

}